# Handle the prediction service subdomain
predict.labinlight.dev {
    reverse_proxy predict:8080
}

# Redirect all other main traffic to the backend API
api.labinlight.dev, www.api.labinlight.dev, labinlight.dev, www.labinlight.dev {
    # Optional: Remove strict security headers if you are still debugging
    # header -Strict-Transport-Security

    reverse_proxy api:3000
}
