services:
  # Database
  postgres:
    image: postgres:15-alpine
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - lab-network

  # Prediction Engine (Python)
  predict:
    build: ./old_app/predict
    restart: always
    ports:
      - "8080:8080"
    networks:
      - lab-network

  # Backend API (NestJS)
  api:
    build: ./hemospec-api
    restart: always
    depends_on:
      - postgres
      - predict
    env_file: .env
    environment:
      DATABASE_HOST: ${POSTGRES_HOST}
      DATABASE_PORT: ${POSTGRES_PORT}
      DATABASE_USER: ${POSTGRES_USER}
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_NAME: ${POSTGRES_DB}
      PREDICTION_SERVICE_URL: ${PREDICTION_SERVICE_URL}
      SIMULATION_MODE: ${SIMULATION_MODE}
      PORT: ${API_PORT}
      PATIENT_ID_HASH_SECRET: ${PATIENT_ID_HASH_SECRET}
    ports:
      - "${API_PORT}:${API_PORT}"
    expose:
      - "3000"
    networks:
      - lab-network


volumes:
  postgres_data:


networks:
  lab-network:
    external: true
