<% content_for :preview do %>
  Click the link to reset your password
<% end %>

<p class="text-muted">Someone has requested a link to change your password. You can do this through the link below.</p>

<%= link_to 'Change my password', "#{ENV['FRONTEND_URL']}/new_password?token=#{@token}", class: 'btn btn-primary btn-md mx-auto mt-3 mb-3' %>

<p class="text-note mt-3">If you didn't request this, please ignore this email.</p>
<p class="text-note">Your password won't change until you access the link above and create a new one.</p>
